p{
   
    border: 1px solid #000;
}
h1{
    margin: 20px;
    padding: 5px;
    border: 5px solid hsl(0, 93%, 44%);
}
.inline{
    display: inline-block;  
    margin-top: 20px; 
}
.block{
    display: block;

}

.display-block{
    display: block;
    height: 200px;
    background-color: blue;
    border: 1px solid rgb(0, 0, 0);

}
.display-inline{
    display: inline;
    height: 100px;
    background-color: firebrick;
    border:2px solid #000;
}
.display-inlene-block{
    display: inline-block;
    height: 50px;
    background-color: green;
    border:3px solid #000;
    margin-top: 30px;

}