.container{
    background-color: rgb(165, 165, 233) ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: end;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
    column-gap: 25px;
    row-gap: 30px;


}
.box{
    height: 50px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 3px;
}
#box1{
    background-color: rgb(241, 241, 150);

}
#box2{
    background-color: rgb(195, 243, 215);
}
#box3{
    background-color: deeppink;
}